.Weather {
  background-image: url("./WeatherBackground.jpeg");
  border: 1px solid white;
  border-radius: 4px;
  color: black;
  font-family: arial, sans-serif;
  margin: 30px;
  padding: 16px;
}
.Weather ul {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 16px;
}
form {
  margin: 30px;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.Weather .temperature {
  font-size: 48px;
  position: relative;
  bottom: -16px;
  color: black;
}
.Weather .unit {
  margin-left: -3px;
  position: relative;
  top: -18px;
}
.enter-city {
  background: white;
  padding: 15px 30px;
  border: 1px solid black;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: black;
}
.search-button {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
.Weather canvas {
  position: relative;
  bottom: -18px;
}
